<section class="uk-flex uk-flex-column events-section">
    <div class="events-header">
        <h1 class="events-header-text uk-text-uppercase uk-text-bold">Next Events</h1>
    </div>
    <div class="uk-flex uk-flex-column events">
        <div class="uk-flex events-item">
            <h2 class="uk-flex uk-flex-column uk-flex-middle event-date uk-text-bold">21<span class="uk-text-uppercase">Jun</span></h2>
            <div class="event-stack">
                <p class="event-name uk-text-bold">Graduation Ceremony</p>
                <p class="event-level">High School</p>
                <p class="event-place">CVPA Auditorium</p>
            </div>
            <p class="event-start">20:00 hrs.</p>
        </div>
        <div class="uk-flex events-item">
            <h2 class="uk-flex uk-flex-column uk-flex-middle event-date uk-text-bold">12<span class="uk-text-uppercase">Aug</span></h2>
            <div class="event-stack">
                <p class="event-name uk-text-bold">Back to School</p>
                <p class="event-level">Elementary - High School</p>
            </div>
            <p class="event-start">07:45 hrs.</p>
        </div>
        <div class="uk-flex events-item">
            <h2 class="uk-flex uk-flex-column uk-flex-middle event-date uk-text-bold">15<span class="uk-text-uppercase">Aug</span></h2>
            <div class="event-stack">
                <p class="event-name uk-text-bold">Back to School</p>
                <p class="event-level">Early Childhood</p>
            </div>
            <p class="event-start">08:00 hrs.</p>
        </div>
        <div class="uk-flex events-item">
            <h2 class="uk-flex uk-flex-column uk-flex-middle event-date uk-text-bold">12<span class="uk-text-uppercase">Oct</span></h2>
            <div class="event-stack">
                <p class="event-name uk-text-bold">Yet Another Graduation Ceremony</p>
                <p class="event-level">High School</p>
                <p class="event-place">CVPA Auditorium</p>
            </div>
            <p class="event-start">20:00 hrs.</p>
        </div>
    </div>
    <div class="events-all uk-text-center">
        <a class="events-link uk-text-uppercase uk-text-bold" href="#">See All Events</a>
    </div>
</section>