<ul class="uk-slideshow header-slideshow" data-uk-slideshow="{height:500,autoplay:true,pauseOnHover:false,kenburns:true}">
    <li><img src="/src/img/himg-1.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-2.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-3.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-4.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-5.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-6.jpg" width="" height="" alt=""></li>
	<li><img src="/src/img/himg-7.jpg" width="" height="" alt=""></li>
</ul>

<header class="main-header">
	<span class="icon-menu" id="button-menu"></span>
	<a href="/build/index.html" id=cat-logo><img src="/src/img/logo.png" alt="Colegio Americano de Torreón"></a>
	<a href="/build/index.html" id="cat-name"><img src="/src/img/logo-name.svg" alt=""></a>
	<nav class="nav-wrapper">
		<div class="nav-container">

			<nav class="resources-nav">
				<h1 class="quicklinks-title">&nbsp;</h1>
				<ul class="resources-ul">
					<li><a href="/build/resources/students.html" class="resources-link"><span class="icon-students"></span><br>Students</a></li>
					<li><a href="/build/resources/parents.html" class="resources-link"><span class="icon-parents"></span><br>Parents</a></li>
					<li><a href="/build/resources/faculty.html" class="resources-link"><span class="icon-faculty"></span><br>Faculty</a></li>
					<li class="quicklinks-open-button" id="quicklink-button">
						<a href="#" class="resources-link"><span class="icon-quicklinks"></span><br class="ql-break"> Quicklinks</a>
						<div class="quicklinks-dropdown-container">
							<ul class="quicklinks-dropdown-ul">
								<li><a href="https://plusportals.com/cat" target=_blank>Gradebook</a></li>
								<li><a href="/src/quicklinks/calendar.html">Calendar</a></li>
								<li><a href="http://cathub.org/clubs/multimedia/" target=_blank>Cathub</a></li>
								<li><a href="/build/resources/directory.html">Directory</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>

			<nav class="uk-navbar social-media-nav">
				<ul class="uk-navbar-nav uk-navbar-flip social-media-ul">
					<li><a href="https://www.facebook.com/ColegioAmericanoTorreon/" target=_blank><span class="icon-facebook"></span></a></li>
					<li><a href="https://twitter.com/cattorreon?lang=en" target=_blank><span class="icon-twitter"></span></a></li>
					<li><a href="https://www.youtube.com/user/CATTorreon" target=_blank><span class="icon-youtube"></span></a></li>
				</ul>
			</nav>

			<nav id="main-menu" class="main-menu-nav">
				<h1 class="menu-title"><span class="icon-menu"></span> Menu</h1>
				<ul class="main-menu-ul">
					<li class="main-link">
						<a href="#">About CAT</a>
						<div class="main-menu-dropdown-container">
							<ul class="main-menu-dropdown">
								<li><a href="/build/about/directors-message.html">Director's Message</a></li>
								<li><a href="/build/about/school-philosophy.html">School Philosophy</a></li>
								<li><a href="/build/about/history.html">History</a></li>
								<li><a href="/build/about/facilities.html">Facilities</a></li>
								<li><a href="/build/about/school-profile.html">School Profile</a></li>
							</ul>
						</div>
					</li>
					<li class="main-link">
						<a href="#">Academics</a>
						<div class="main-menu-dropdown-container">
							<ul class="main-menu-dropdown">
								<li><a href="/build/academics/early-childhood.html">Early Childhood</a></li>
								<li><a href="/build/academics/elementary.html">Elementary</a></li>
								<li><a href="/build/academics/intensive-english.html">Intensive English</a></li>
								<li><a href="/build/academics/high-school.html">High School</a></li>
							</ul>
						</div>
					</li>
					<li class="main-link">
						<a href="#">Campus Life</a>
						<div class="main-menu-dropdown-container">
							<ul class="main-menu-dropdown">
								<li><a href="/build/campus/library.html">Library</a></li>
								<li><a href="/build/campus/sports.html">Sports</a></li>
								<li><a href="/build/campus/art-center.html">Art Center</a></li>
								<li><a href="/build/campus/counseling.html">Counseling</a></li>
								<li><a href="/build/campus/magazines.html">Magazines</a></li>
								<li><a href="/build/campus/cafeteria.html">Cafeteria</a></li>
							</ul>
						</div>
					</li>
					<li class="main-link">
						<a href="#">Join Us</a>
						<div class="main-menu-dropdown-container">
							<ul class="main-menu-dropdown">
								<li><a href="/build/join/student-admission.html">Student Admissions</a></li>
								<li><a href="/build/join/employment.html">Employment</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</nav>
</header>
