<header>
	<a href="#">
		<img src="" alt="Colegio Americano de Torreón" id="cat-logo">
		<img src="" alt="" id="cat-name">
	</a>

	<nav class="uk-navbar resources-nav">
		<ul class="uk-navbar-nav uk-navbar resources-ul">
			<li><a href="#" class="resources-link"><span id="student-icon">O</span><br>Students</a></li>
			<li><a href="#" class="resources-link"><span id="parent-icon">O</span><br>Parents</a></li>
			<li><a href="#" class="resources-link"><span id="faculty-icon">O</span><br>Faculty</a></li>
			<li class="resources-link quicklinks-open">
				<a href="#" class="resources-link"><span id="quicklinks-icon">O</span><br>Quicklinks</a>
				<div class="quicklinks-dropdown-container" data-uk-dropdown="{mode:'click'}">
					<ul class="quicklinks-dropdown-ul">
						<li><a href="#">Gradebook</a></li>
						<li><a href="#">Calendar</a></li>
						<li><a href="#">Cathub</a></li>
						<li><a href="#">DirectorY</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>

	<nav class="uk-navbar social-media-nav">
		<ul class="uk-navbar-nav uk-navbar-flip">
			<li><a href="#"><span id="facebook-icon"></span>F</a></li>
			<li><a href="#"><span id="twitter-icon"></span>T</a></li>
			<li><a href="#"><span id="youtube-icon"></span>Y</a></li>
		</ul>
	</nav>

	<nav id="main-menu" class="uk-navbar main-menu-nav">
		<ul class="uk-navbar-nav main-menu-ul">
			<li class="main-link">
				<a href="#">About CAT</a>
				<div class="main-menu-dropdown-container">
					<ul class="main-menu-dropdown">
						<li><a href="#">Director's Message</a></li>
						<li><a href="#">School Philosophy</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Facilities</a></li>
						<li><a href="#">School Profile</a></li>
					</ul>
				</div>
			</li>
			<li class="main-link">
				<a href="#">Academics</a>
				<div class="main-menu-dropdown-container">
					<ul class="main-menu-dropdown">
						<li><a href="#">Early Childhood</a></li>
						<li><a href="#">Elementary</a></li>
						<li><a href="#">Intensive English</a></li>
						<li><a href="#">High School</a></li>
					</ul>
				</div>
			</li>
			<li class="main-link">
				<a href="#">Campus Life</a>
				<div class="main-menu-dropdown-container">
					<ul class="main-menu-dropdown">
						<li><a href="#">Library</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">Art Center</a></li>
						<li><a href="#">Counseling</a></li>
						<li><a href="#">Magazines</a></li>
						<li><a href="#">Cafeteria</a></li>
					</ul>
				</div>
			</li>
			<li class="main-link">
				<a href="#">Join Us</a>
				<div class="main-menu-dropdown-container">
					<ul class="main-menu-dropdown">
						<li><a href="#">Student Admissions</a></li>
						<li><a href="#">Employment</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
