<div class="uk-grid">
    <div class="uk-width-1-1 uk-width-large-1-2 blog">
        <h1 class="uk-text-large uk-text-uppercase uk-text-bold">Latest News</h1>
        <article class="uk-article">
            <h1 class="uk-article-title uk-text-uppercase uk-text-bold">Test For News</h1>
            <h2 class="uk-text-large article-date uk-text-uppercase">July 7</h2>
            <p class="uk-article-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper neque tincidunt neque pulvinar, cursus eleifend nisl tempor. Fusce nec condimentum mi, et ultrices leo. Ut egestas sem id risus auctor, a tempus dolor ornare. Etiam eget lacus nibh. Sed eros magna, sollicitudin vitae ante non, sollicitudin vestibulum velit. Nullam quis velit euismod, tempor leo sit amet, sagittis dui. Phasellus id diam sem. Pellentesque luctus, nisl at posuere feugiat, lectus lacus rhoncus massa, sit amet pulvinar ante tortor quis erat. Fusce turpis velit, viverra a consectetur et, ornare eget purus. Nullam dapibus placerat urna, non varius ipsum varius quis. Nullam vestibulum sodales neque sed…</p>
            <a class="uk-button" href="">Read More</a>
        </article>
    </div>
    <div class="uk-width-1-1 uk-width-large-1-2 slideshow">
        <div class="uk-slidenav-position" data-uk-slideshow="{animation: 'swipe'}">
            <ul class="uk-slideshow">
                <li><img src="img/news-001.jpg" alt=""></li>
                <li><img src="img/news-002.jpg" alt=""></li>
                <li><img src="img/news-003.jpg" alt=""></li>
                <li><img src="img/news-004.jpg" alt=""></li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                <li data-uk-slideshow-item="0">
                    <a href=""></a>
                </li>
                <li data-uk-slideshow-item="1">
                    <a href=""></a>
                </li>
                <li data-uk-slideshow-item="2">
                    <a href=""></a>
                </li>
                <li data-uk-slideshow-item="3">
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
